.unit-container {
    margin: 1rem 0;
    background: var(--lgray);
    width: 48%;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 1rem;
}

.stat-container {
    flex: 1 1 50%;
    padding: 0 1rem 1rem;
    box-sizing: border-box;
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.hp-container {
    display: flex;
    flex-direction: row;
    margin: 0.15rem 0;
    justify-content: space-between;
}

.ws-container {
    display: flex;
    padding: 0 1rem 1rem;
}

.ws {
    flex: 1 1 50%;
    padding: 0 1rem 1rem;
    box-sizing: border-box;
}

input {
    background:#fff;
    margin: 0.15rem 0;
    padding: 0.2rem;
    border: 0;
    border-bottom: 1px solid var(--slight);
}

.hp-container > input {
    flex: 1 1 50%;
    margin: 0 0.15rem;
    padding: 0.2rem;
    box-sizing: border-box;
    width: 50%;
}

input:focus {
    outline: 0;
    transition: border-bottom 300ms;
    border-bottom: 1px solid var(--sdark);
}

input:hover {
    transition: background-color 300ms, border-bottom 300ms;
    background-color: var(--lgray);
    border-bottom: 1px solid var(--secondary);
}

h2 {
    background: var(--secondary);
    color: #fff;
    border-bottom: 3px solid var(--slight);
    margin: 0 auto;
    padding: 0.5rem;
    text-transform: capitalize;
}